*{
    margin: 0;
    box-sizing: border-box;
}

section {
    padding: 10px 20px;
}

.header_section {
    display: flex;
    padding: 15px 0px;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 50px;
}

.menu ul li {
    display: inline;
    margin: 0px 15px;
}

aside {
    width: 30%;
    padding: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

label {
    margin: 10px 0px;
    display: block;
}

input {
    padding: 5px;
    margin-right: 10px;
    /* display: inline-block; */
}

td, th {
    padding: 5px 10px;
    border: 3px double rosybrown;
}

table {
    border-collapse: collapse;
    align-items: center;
    text-align: center;
}